.header_container {
  margin: auto;
  width: 50%;
}

.header_container h1 {
  color: #fff6ec;
  font-weight: normal;
}

.header_container p {
  text-wrap: wrap;
  margin: 0 auto;
  text-align: center;
  width: 80%;
  color: #5c6167;
}

.content-filter {
  background: none;
  color: #fff6ec;
  border: none;
  padding: 0;
  font: inherit;
  font-weight: normal;
  cursor: pointer;
  margin: 0 1rem;
  padding-bottom: 2rem 2rem;
}

.button_container {
  display: flex;
  width: 100%;
  place-items: center;
  place-content: center;
  margin: 1rem auto;
}

@media (min-width: 320px) {
  .header_container {
    margin: 0 auto;
    width: 50%;
  }

  .header_container p {
    width: 100%;
  }
}
